<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="インストール不要かつ無料のワードウルフアプリ、どこでもワードウルフについて説明いたします。URLを共有するだけで離れた友人と簡単にワードウルフが遊べます！">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>どこでもワードウルフとは</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/about">
		<style>
			body{
				padding: 0;
			}
			a{
				font-size: 88%;
			}

			#content{
				display: block;
				text-align: left;
				width: 40%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			p{
				margin-left: 1em;
				line-height: 30px;
			}

			img{
				max-width: 80%;
			}

			.img-shadow{
				box-shadow: 0 0 20px -10px white;
			}

			.ad-area {
				width: 30%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item">
							<a class="" href=".">トップ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item active">
							<a class="" href="about">どこでもワードウルフとは<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="odai">お題について</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="questions">よくあるご質問</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/blog/">ブログ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform">広告出稿</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<h1 style="text-align: center;">どこでもワードウルフとは</h1>
				<p><b>どこでもワードウルフ</b>はその場にいる友人とも離れた友人とも<b>どこでも</b>ワードウルフが遊べるウェブアプリです。</p>
				<p><u>インストールや会員登録は不要で無料で遊べます！</u></p>
				<p>このページでは、どこでもワードウルフを紹介します。</p>
				<img src="/st/img/dokodemowordwolf.jpg">
				<p><br><br></p>
				<h2>他のアプリと何が違うのか？</h2>
				<p></p>
				<p>既存のワードウルフアプリは参加者全員がアプリをインストールしないと遊べなかったり、OSごとに画面のデザインが異なっていたり、ゲームを進めるのが難しいサービスが多い印象がありました。</p>
				<p></p>
				<p><b>どこでもワードウルフ</b>は自身の経験を踏まえ、参加者全員がアプリをインストールしなくてもよく、ストレスフリーに遊ぶことができるよう作成しました。</p>
				<p><br><br></p>
				<p>”<b>一緒にいる人と遊ぶ</b>”を選択すれば、1台の端末のみでその場にいる友人とワードウルフを遊ぶことができます。</p>
				<p>毎回URLにアクセスするのが面倒であれば、ホーム画面に本アプリを追加することもできます。ホームに追加すればオフラインで遊ぶこともできますし、もちろんアプリをインストールしていない相手とも遊ぶことができます。</p>
				<p></p>
				<p><div class="button" tabindex="0" onclick="location = 'offsetting';">一緒にいる人と遊ぶ</div></p>
				<img src="/st/img/about01.jpg">
				<p><br><br></p>
				<p>離れた友人とは"<b>オンラインで遊ぶ</b>"を選択し、部屋のURLを発行してLINEやZoomで共有することで一緒にゲームを楽しむことができます。</p>
				<p>(※プレイ中、ブラウザは閉じないようにお願いします。)</p>
				<p>(タイマーが動かなくなることがあります。)</p>
				<p></p>
				<p><div class="button" tabindex="0" onclick="goSetting()">オンラインで遊ぶ</div></p>
				<p><br><br></p>
				<h2>インストールも登録も不要</h2>
				<p>どこでもワードウルフはアプリストアに登録しているわけではないのでインストールは不要です。</p>
				<p>ブラウザからアクセスしていただければすぐに遊ぶことができます。</p>
				<p>また、Webアプリを端末にインストールできるよう、PWAという技術を採用しており、ホーム画面に本アプリを登録することができます。</p>
				<p></p>
				<p><a href="javascript:openHowtoInstall()" style="font-size: 1.1em;" id="pwaViewAnchor">▶スマホへの簡単インストール方法を見る</a></p>
				<div style="text-align: left; display: none;" id="howToInstall">
					<ul>
						<li>Android端末の場合</li>
						<p>Google Chromeで<a href="/">トップページ</a>を開いてください。</p>
						<p>画面下部に、「ホーム画面に どこでもワードウルフ を追加」というメッセージが表示されますので、それをタップします。</p>
						<img src="/st/img/pwa_android_0.png" class="img-shadow">
						<p>ポップアップが出てきたら、「<b>追加</b>」をタップしてください。</p>
						<img src="/st/img/pwa_android_1.png" class="img-shadow">
						<p>インストールが開始され、完了したらホーム画面にどこでもワードウルフのアイコンが表示されます。</p>
						<p>"<b>一緒にいる人と遊ぶ</b>"機能はインターネットに接続されていない状況でも使用出来るようになります。</p>
						<p>いつでもホーム画面から起動してお楽しみください！</p>
						<li>iOS端末の場合</li>
						<p>Safariで<a href="/">トップページ</a>を開いてください。</p>
						<p>メニューより「シェア」を選択し、「ホーム画面に追加」をタップします。</p>
						<img src="/st/img/pwa_ios_share.jpg" class="img-shadow">
						<img src="/st/img/pwa_ios_addhome.jpg" class="img-shadow">
						<p>インストールが開始され、完了したらホーム画面にどこでもワードウルフのアイコンが表示されます。</p>
						<p>"<b>一緒にいる人と遊ぶ</b>"機能はインターネットに接続されていない状況でも使用出来るようになります。</p>
						<p>いつでもホーム画面から起動してお楽しみください！</p>
					</ul>
				</div>
				<p></p>
				<p>本アプリはアカウント登録不要で遊べますので、個人情報の入力はございません。</p>
				<p>個人情報が漏れる心配もないので安心してお遊びください。</p>
				<p><br><br></p>
				<h2>豊富なお題</h2>
				<p>どこでもワードウルフのお題は1000題を超え、同じお題が当たることは滅多にありません。</p>
				<p>お題が更新されたら<a href="https://twitter.com/eww_2020" target="_blank">Twitterのアカウント</a>でもつぶやきますので、「どこでもワードウルフ」で検索してください。</p>
				<p>またカテゴリーの追加も検討しておりますので、追加したいカテゴリーもありましたらお申し付けください。</p>
				<img src="/st/img/about02.jpg">
				<p></p>
				<p></p>
				<p>これかもストレスフリーに楽しくワードウルフが遊べるように、改良を進めます。</p>
				<p>引き続きよろしくお願いいたします。</p>
				<p><br><br></p>
				<p style="text-align: center;"><a href=".">TOP画面へ</a></p>
				<p><br></p>
				<a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/eww_2020?ref_src=twsrc%5Etfw">Tweets by eww_2020</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {
				var tl = document.getElementById("twitter-widget-0").contentWindow.document.getElementsByClassName("timeline-Widget")[0];
				tl.style.backgroundColor = "transparent";
			}

			window.onresize = () => {}

			function openHowtoInstall(){
				if (howToInstall.style.display == "block"){
					howToInstall.style.display = "none";
					pwaViewAnchor.innerText = "▶スマホへの簡単インストール方法を見る";
				}
				else{
					howToInstall.style.display = "block";
					pwaViewAnchor.innerText = "▼閉じる";
				}
			}
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>