<!-- Created by OTFT at Mar 2020 -->
<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
	    <meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@[eww_2020]">
		<meta name="twitter:creator" content="@OTFT_V">
	    <meta property="og:type" content="blog">
		<meta name="twitter:url" property="og:url" content="https://www.wordwolf.tokyo/">
		<meta name="twitter:title" property="og:title" content="どこでもワードウルフ">
		<meta name="twitter:description" property="og:description" content="完全無料でインストール不要！URLを共有するだけで遊べるワードウルフアプリ">
		<meta name="twitter:image" property="og:image" content="{{ .Hash }}/st/img/dokodemowordwolf_large.webp">
		<meta property="og:locale" content="ja_JP" />
		<meta name="description" content="インストール不要かつ無料でどこでも誰とでもワードウルフが遊べるアプリです。トークテーマは1000以上あり随時更新中！" />
		<meta name="keywords" content="ワードウルフ,オンライン ワードウルフ,ワードウルフ 無料,ワードウルフ アプリ,ワードウルフ お題,人狼 ゲーム" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>どこでもワードウルフ インストール不要で遊べるワードウルフアプリ</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="manifest" href="/st/manifest.json">
		<link rel="canonical" href="https://www.wordwolf.tokyo/">
		<style>
			a{
				font-size: 88%;
			}

			#logoImage{
				background-image: url('/st/img/dokodemowordwolf.jpg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				width: 220px;
				height: 220px;
			}

			img{
				max-width: 80%;
			}

			#content{
				display: block;
				width: 32%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			.nav-item {
				margin: 5px auto;
			}

			.ad-area {
				width: 30%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item active">
							<a class="" href="about">どこでもワードウルフとは<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="odai">お題について</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="questions">よくあるご質問</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="blog/">ブログ</a>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<div id="titles">
					<h1>どこでもワードウルフ</h1>
					<p>お題はほぼ毎日更新</p>
					<p>お題は1000題以上</p>
				</div>
				<div class="button" tabindex="0" onclick="location = 'offsetting';">一緒にいる人と遊ぶ</div>
				<div class="button" tabindex="0" onclick="goSetting()">オンラインで遊ぶ</div>
				<div class="button" tabindex="0" onclick="location = 'howto';">遊び方</div>
				<div id="logoImage"></div><br>
				<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
				<div>
					<h2>誰とでも、どこでもワードウルフで遊べる</h2>
					<p>ワードウルフを今すぐ遊びたいけど、、、こんなことありませんか？</p>
					<ul style="text-align: left;">
						<li>ゲームマスターをやらないといけないので1人だけゲームができない！</li>
						<li>アプリをインストールするのが面倒くさい！</li>
						<li>離れた友人と遊びたいけど友人がアプリをインストールしていないので遊べない！</li>
						<li>課金されないか心配！</li>
					</ul>
					<p>などなど。</p>
					<p>「<b>どこでもワードウルフ</b>」なら大丈夫！</p>
					<p>ゲームマスター不要で、どこでも誰とでも遊ぶことができます！</p>
					<p>もちろん無料で遊べるの安心してお遊びいただけます！</p>
					<img id="img_01">
					<h3>ゲームマスターは不要</h3>
					<p>時間管理、お題の確認...etc</p>
					<p>ワードウルフで最も煩わしい<b>ゲームマスター</b>の作業。。</p>
					<p>とても面倒くさいし、<b>ゲームに加わりたい</b>ですよね。</p>
					<p>ゲームの進行は<b>どこでもワードウルフ</b>が行うので</p>
					<p><u>参加者全員がゲームに参加することができます！</u></p>
					<p>時間管理もお題の割り振りも<b>どこでもワードウルフ</b>に全部任せてゲームを楽しんでくだい！</p>
					<img id="img_02">
					<p><br></p>
					<h3>インストール不要</h3>
					<p>どこでもワードウルフはインストール不要で<b>その場にいる友人と遊ぶことができます！</b></p>
					<p>飲み会やホームパーティーに向いている遊び方です。</p>
					<p>ブラウザからホーム画面にどこでもワードウルフを追加可能！</p>
					<p>ブラウザを開かなくてもホーム画面のアイコンから<b>どこでもワードウルフ</b>を起動できます！</p>
					<p>しかもホーム画面に落とせばオフラインでも遊ぶことができます！</p>
					<p>電波が入りにくい場所でも遊べますね！</p>
					<p>ぜひ、この機会にインストールしてみてください！</p>
					<div class="button" tabindex="0" onclick="location = 'offsetting';">一緒にいる人と遊ぶ</div>
					<img id="img_03">
					<p><br></p>
					<h3>離れた友人とも遊べる</h3>
					<p><b>どこでもワードウルフ</b>なら参加者全員がアプリをインストールしなくても簡単にワードウルフをお遊びいただけます！</p>
					<p>“<b>オンラインで遊ぶ</b>”からURLを発行しLINEで共有するだけでゲームを開始できます！</p>
					<p>難しい操作はなく発行されたURLを参加者に共有するだけ！</p>
					<p>誰でも簡単に遊ぶことができます。</p>
					<p>LINEやZoom飲み会に向いている遊び方です！</p>
					<p>在宅での飲み会が増える中、今一番人気のある遊び方です！</p>
					<div class="button" tabindex="0" onclick="goSetting()">オンラインで遊ぶ</div>
					<img id="img_04">
					<p><br></p>
					<h3>完全無料かつ個人情報の流出リスクがない</h3>
					<p>どこでもワードウルフは無料ですべての機能を何人でも何回でもお遊びいただけます！</p>
					<p>また登録は不要で個人情報を打ち込むことがないので個人情報が漏れることもありません！</p>
					<p>安心してお遊びください！</p>
					<br>
					<p>どこでもワードウルフをもっと知りたい方はこちらからご確認ください！</p>
					<div class="button" tabindex="0" onclick="location = 'howto';">遊び方</div>
					<p><br><br><br><br></p>
					<p>すべてのカテゴリーをまんべんなく更新しているので、飽きることなくお遊びいただけます！</p>
					<p><a href="https://twitter.com/eww_2020" target="_blank">Twitter</a>で更新情報を広報していますので、”<b>どこでもワードウルフ</b>”で検索！</p>
					<p>カテゴリーの追加は、要望がありましたら検討して追加します！</p>
					<p>早速遊んでみたい方はこちらから遊んでください！</p>
					<p>よろしくお願いいたします。</p>
					<div class="button" tabindex="0" onclick="location = 'offsetting';">一緒にいる人と遊ぶ</div>
					<div class="button" tabindex="0" onclick="goSetting()">オンラインで遊ぶ</div>
					<p><br><br><br></p>
				</div>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<footer id="page-footer" style="text-align: right;">
			<a href="privacypolicy">プライバシーポリシーおよび利用規約</a>&nbsp;&nbsp;&nbsp;
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_blank">問い合わせ</a>
		</footer>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {
				img_01.src = "/st/img/index01.jpg";
				img_02.src = "/st/img/index02.jpg";
				img_03.src = "/st/img/index03.jpg";
				img_04.src = "/st/img/index04.jpg";
			}

			window.onresize = () => {}

			if (location.host == 'www.wordwolf.tokyo') {
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register("/sw.js")
					.then(reg => {
						console.log('Service worker registered.', reg);
						reg.onupdatefound = function() {
							reg.update();
							console.log('cash update.');
						}
						if (typeof reg.update == 'function') {
							console.log('cash update.');
							reg.update();
						}
					});
				} else console.log('Service worker can\'t registered.');
			}
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>