<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="ワードウルフに寄せられたお問い合わせをまとめました。">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>よくあるお問い合わせ</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/questions">
		<style>
			body {
				padding: 0;
			}

			.content-title {
				margin-top: 15px;
			}

			.content {
				border: solid 2px #ea9999;
				border-radius: 30px;
				text-align: center;
				font-size: 0.8em;
				background-color: white;
				color: #0e1539;
				margin: 0 auto;
				padding: 20px 0;
				width: 100%;
			}

			@media screen and (max-width: 812px) {
				.content {
					width: 96%
				}
			}

			p {
				font-size: 16px;
			}

			.content a {
				color: blue;
			}

			#content {
				width: 60%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			.ad-area {
				width: 20%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item">
							<a class="" href="/">トップ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/about">どこでもワードウルフとは</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/odai">お題について</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item active">
							<a class="" href="/questions">よくあるご質問<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/blog/">ブログ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform">広告出稿</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<div>
					<h1>ワードウルフに寄せられた問い合わせ</h1>
				</div>
				<div class="content">
					<p>どこでもワードウルフに寄せられたお問い合わせ内容をまとめております。</p>
					<p>他にもご不明な点があれば<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_brank">お問い合わせフォーム</a>から問い合わせください</p>
				</div>
				<p><br><br></p>
				<div class="content-title">
					<h2>ワードウルフの遊び方を知りたいです。</h2>
				</div>
				<div class="content">
					<p>こちらのページでワードウルフについて紹介をしております。</p>
					<p><a href="javascript: location = 'howto';">遊び方</a></p>
				</div>
				<div class="content-title">
					<h2>事前に会員登録は必要ですか？</h2>
				</div>
				<div class="content">
					<p>参加者全員不要です。</p>
					<p>オンラインで遊ぶ際は、URLを共有するだけでゲームの部屋に入れるので安心してお遊びいただけます。</p>
				</div>
				<div class="content-title">
					<h2>子供と遊びたいのですがお題に過激なお題は含まれていますか？</h2>
				</div>
				<div class="content">
					<p>過激なお題は含まれないように設定しております。</p>
					<p>卑猥な言葉、差別用語、非倫理的な言葉等は基本的にお題として扱っておりません。</p>
					<p>もしなにかあれば<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_brank">お問い合わせフォーム</a>でお知らせいただけますと幸いに存じます。</p>
				</div>
				<div class="content-title">
					<h2>オフラインで遊びたいのですがどうしたら遊べますか？</h2>
				</div>
				<div class="content">
					<p>Google Chromeから”<b>ホーム画面に追加する</b>”を選択することで、オフラインでも遊ぶことが可能です。</p>
				</div>
				<div class="content-title">
					<h2>何人まで遊べますか？</h2>
				</div>
				<div class="content">
					<p>”一緒にいる人と遊ぶ”でも”オンラインで遊ぶ”でも、人数制限はありませんので、大勢でもお楽しみ頂けます。</p>
					<p>（もしサーバーが落らたら申し訳ございません。）</p>
				</div>
				<div class="content-title">
					<h2>お題の言葉の意味がわからなかった</h2>
				</div>
				<div class="content">
					<p>ご迷惑をおかけしてしまい申し訳ございません。</p>
					<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_brank">お問い合わせ</a>までご連絡いただけますでしょうか？</p>
					<p>迅速に修正いたします。</p>
				</div>
				<div class="content-title">
					<h2>お金はかかりますか？</h2>
				</div>
				<div class="content">
					<p>一切かかりません。完全無料で遊べます。</p>
				</div>
				<div class="content-title">
					<h2>個人情報は取得されますか？</h2>
				</div>
				<div class="content">
					<p>しません。Cookieも使用していないので安心してお遊びください。</p>
				</div>
				<div class="content-title">
					<h2>機能改善、バグはどちらに問い合わせをすれば宜しいですか？</h2>
				</div>
				<div class="content">
					<p>お手数をおかけしてしまい申し訳ございませんが、こちらまでお問い合わせくださいますようよろしくお願いいたします。</p>
					<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_brank">お問い合わせフォーム</a></p>
				</div>
				<div class="content-title">
					<h2>過激なお題がありました。消してほしいです。</h2>
				</div>
				<div class="content">
					<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_brank">お問い合わせ</a>までご連絡いただけますでしょうか？</p>
					<p>迅速に対応させていただきます。</p>
				</div>
				<div class="content-title">
					<h2>ゲームのURLを共有するのにおすすめなツールはありますか？</h2>
				</div>
				<div class="content">
					<p>特にないです。</p>
					<p>LINEでもFacebookメッセンジャーでもZoomでも何でも大丈夫です。</p>
					<p>ご自身のやりやすいツールで遊んでください。</p>
				</div>
				<div class="content-title">
					<h2>リリース情報がほしいです</h2>
				</div>
				<div class="content">
					<p><a href="https://twitter.com/eww_2020" target="_blank">Twitterのアカウント</a>でつぶやきます。</p>
					<p>Twitterで”どこでもワードウルフ”で検索してください。</p>
				</div>
				<div class="content-title">
					<h2>メディア、YouTubeの企画で使いたい</h2>
				</div>
				<div class="content">
					<p>基本的に取り上げていただくことに関しては問題ないのでご報告頂く必要はございません。</p>
					<p>こちらでも取り上げて頂いた内容を確認したいので、<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_brank">お問い合わせフォーム</a>からご連絡頂けますと幸いに存じます。</p>
				</div>
				<div class="button" tabindex="0" onclick="location = '.';">TOPに戻る</div>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script>
			var buttons = document.getElementsByClassName("button");
			buttons[0].addEventListener('keyup', (event) => {
				if(event.keyCode == 13 || event.keyCode == 32)
					eval(click);
			});
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>